
body {
  position: relative;
  background-color: #F2EEDD;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#7DE2FC), to(#ffecd2));
  background-image: linear-gradient(to bottom, #7DE2FC 0%, #ffecd2 150%);
  height: 200%;
}

.Intro {
  width:50%;
  height: 100%;
  background: transparent;
  color: white;
  font-weight: bold;
  position: relative;
  animation: mymove 1s ;
  animation-fill-mode: forwards;
  font-size: xx-large;
  padding:10px;
  color: #3E587D;
  text-align: start;
}

#div1 {animation-timing-function: ease-in-out;}
#div2 {animation-timing-function: ease-in-out;}
#div3 {animation-timing-function: ease-in-out;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
  /* from {left: -15%;}
  to {left: 10%;} */
  from {top: 300px;}
  to {top: 50px;}
}